@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

$primary: #455370;
$darker: #414b5c;
$secondary: #ffd49f;
$mainbg: rgba(236, 229, 216, 0.7);
$text-primary: #e9eff3;

.App {
	background: url('/src/static/images/bg.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: show;
	width: 2000px;
	height: 126vh;
	display: flex;
}
.bg {
	background-color: $mainbg;
	width: 100%;
	margin: 20px;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 30px;
}

a.navlinks {
	text-decoration: none;
}

.card-background {
	// background: linear-gradient($primary, $primary) padding-box;
	background: linear-gradient($primary, $primary) padding-box,
		linear-gradient(to right, #aca194, $secondary, #aca194) border-box;
	border-radius: 8px;
	border: 4px solid transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 200px;
	width: 1628px;
	height: 518px;
}

.inner-card-bg {
	background-image: url('/src/static/images/genshin-dec.png');
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 7%;
	padding-left: 100px;
	border: 4px;
}

.index2 {
	z-index: 2;
}

.wrapper {
	// background-color: $primary;
	position: sticky;
	display: flex;
	width: 300px;
	align-items: stretch;
	flex-direction: column;
	// position: absolute;
	height: 50px;
	left: 0px;
	top: 0px;
	right: 0px;
	border-radius: 8px;
	border: 4px solid transparent;
	background: linear-gradient($primary, $primary) padding-box,
		linear-gradient(to bottom, #aca194, $secondary, #aca194) border-box;
	z-index: 0;
}

.logo {
	width: 100%;
}

.show {
	display: none;
}

#sidebar.active {
	margin-left: -250px;
}
h4 {
	color: $text-primary;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

// a[data-toggle='collapse'] {
// 	position: relative;
// }

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}
}

body {
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.sidebar {
	background: linear-gradient($primary, $primary) padding-box,
		linear-gradient(to bottom, #aca194, $secondary, #aca194) border-box;
	transition: all 0.3s;
	min-width: 250px;
	max-width: 250px;
	min-height: 100vh;
	z-index: 5;
}

.sidebar-dec {
	background: url('./static/images/genshin-dec2.png');
	background-position: top;
	background-repeat: no-repeat;
	background-size: 60%;
	z-index: 0;
}

.sidebar .sidebar-header {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

.sidebar ul p {
	color: #fff;
	padding: 10px;
}

.sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
.sidebar ul li a:hover {
	color: #7386d5;
	background: #fff;
}

.sidebar ul li.active > a,
a[aria-expanded='true'] {
	color: #fff;
	background: #6d7fcc;
}
ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
